.login-body{
    background-image: url('../../assets/metro.png');
    background-size:cover;
    background-position: center;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.button{
    color: white;
    background-color: #178ef6;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
    width: 500px;
}

.login-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
    margin: 50px;
    margin-top: 100px;
    padding: 30px;
    width: 50%;
    border-radius: 25px;
    background-color: rgba(227, 180, 24, 0.614);

}

.input{
    border: 0;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    width: 300px;
}


