.location-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  align-items: center;
  position: relative;
  top: 100px;
}

.station-card {
  padding: 10px;
  width: 350px;
  display: grid;
  grid-template-columns: 0.5fr auto 1fr;
  align-items: start;
  gap: 20px;
  margin-top: -50px;
}

.station-card img {
  width: 50px;
  height: 50px;
}

.station-card .left-side {
  display: flex;
  align-items: center;
}

.station-card .divider.expanded {
  height: 100%;
}

.station-card.exit-card .divi {
  width: 10px;
  height: 100px;
  margin: 0 20px;
}
.estimated-time {
  font-size: 14px;
  color: #888;
  margin-left: 10px;
}

.station-stop-name {
  font-size: 15px;
  margin: 0 -10px 5px;
}
.station-card .divider-L1 {
  width: 8px;
  height: 80px;
  min-height: 40px;
  background-color: #f2d00d;
  margin: 0 20px;
  margin-left: 10px;
  border-radius: 5px;
}
.station-card .divider-L2 {
  width: 8px;
  height: 80px;
  min-height: 40px;
  background-color: #e60f0d;
  margin: 0 20px;
  margin-left: 10px;
  border-radius: 5px;
}
.station-card .divider-L3 {
  width: 8px;
  height: 80px;
  min-height: 40px;
  background-color: #0fbb0c;
  margin: 0 20px;
  margin-left: 10px;
  border-radius: 5px;
}

.station-card .right-side {
  text-align: left;
}

.station-card .right-side h3 {
  margin: 0 0 5px;
  font-size: 20px;
}

.station-card .right-side .sub-text {
  font-size: 14px;
  color: #888;
}

.station-card .right-side .icon {
  cursor: pointer;
  margin-bottom: 10px;
}

.station-card .right-side .station-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.station-card .right-side .station-list .station {
  display: flex;
  align-items: center;
  gap: 10px;
}

.station-card.exit-card {
  padding: 10px;
  width: 350px;
  display: grid;
  grid-template-columns: 0.5fr auto 1fr;
  align-items: start;
  gap: 20px;
  margin-top: -50px;
}

.station-card.exit-card .right-side h3 {
  font-size: 20px;
}

.station-card.exit-card .right-side {
  margin-top: 40px;
  margin-bottom: 20px;
}

.station-card.exit-card .left-side {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 40px;
  margin-right: -10px;
}

.station-card.exit-card .left-side img {
  margin-right: 8px;
}

.location-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  width: 250px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  justify-content: center;
  align-items: center;
}
