.homepage {
  background-color: #f8f9fa;
}

.hero-section {
  background-image: url("../../assets/logo.png");
  background-size: cover;
  background-position: center;
  color: #fff;
}

.features-section {
  background-color: #f8f9fa;
}

.features-section .card {
  transition: transform 0.3s;
}

.features-section .card:hover {
  transform: scale(1.05);
}
