.search-icon:hover {
  cursor: pointer;
}

.search-icon {
  cursor: pointer;
  z-index: 100;
}

.circle-12 {
  border-radius: 1000px;
  height: 33px;
  width: 33px;
  display: flex;
  margin-right: 15px;
  margin-top: 7px;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
  background: #5d5dff;
  cursor: pointer;
}

.circle-12:hover {
  background: #5450d6;
}
